.login-container {
  height: 100vh;
  background: linear-gradient(to right, #1976d2, #0d47a1);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
}

.login-card button {
  background: #0d47a1;
  color: white;
  padding: 10px;
  border: none;
  width: 100%;
  border-radius: 8px;
}
