.sidebar {
  width: 240px;
  height: 100vh;
  background: #0d47a1;
  color: white;
  padding: 25px;
  position: fixed;
  left: 0;
  top: 0;
}

.sidebar h2 {
  text-align: center;
  margin-bottom: 40px;
}

.sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  border-radius: 10px;
  margin: 10px 0;
}

.sidebar a:hover {
  background: #1976d2;
}

.logout-btn {
  margin-top: 40px;
  background: #c62828;
  border: none;
  padding: 10px;
  color: white;
  width: 100%;
  border-radius: 10px;
}
.app {
  display: flex;
  background: #f1f5f9;
  min-height: 100vh;
}

.app.dark {
  background: #020617;
}

.content {
  flex: 1;
  padding: 20px;
}
